@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #f2f2f2;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container{
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20)
}

.page-header{
    color: #000000;
    background-color: #FFFFFF;
}


.navigation{
    display: flex;
    height: 64px;
    padding: 0 70px;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 339px;
    margin-left: 30px;
    list-style-type: none;
    align-items: center;
}

.navigation-user{
    display: flex;
    margin: 0;
    margin-left: auto;
    min-width: 160px;
}

.navigation-link {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;

}

.navigation-link:hover {
    color:#333;
  }

.navigation-link-current{
    position: relative;
    display: inline-block;
}

.navigation-link-current-2{
    position: relative;
    display: inline-block;
}

.navigation-link-current::after {
    content: "";
    position: absolute;
    background: #756257;
    left: 14px;
    bottom: -1px;
    width: 68px;
    height: 2px;
}

.navigation-link-current-2::after {
    content: "";
    position: absolute;
    background: #756257;
    left: 16px;
    bottom: -1px;
    width: 93px;
    height: 2px;
}

.box-list .navigation-link{
    padding: 20px 16px 20px;
}

.navigation-user .search-icon{
    width: 44px;
    height: 64px;
}

.search-icon{
    background: url(../images/icons/icon-search.svg)center no-repeat;
    display: block;

}

.navigation-user .favorites-icon{
    width: 44px;
    height: 64px;
}

.favorites-icon{
    position: relative;
    display: block;
    background: url(../images/icons/favourites.svg)center no-repeat;
}

.navigation-number{
    top: 11px;
    right: 4px;
    background-color: #7DB54F;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    padding: 5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.navigation-item-link .button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #756157;
    border-radius: 4px;
    padding: 8px 34px;
    margin-left: 20px;
}

.navigation-item-link .button:hover{
    background-color: #615048;
}

.navigation-item-link .button:focus{
    background-color: #615048;
}

.navigation-item-link .button:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.30);
}

.navigation-item-link .button:disabled{
    background-color: #E5E5E5;
    color: #ffffff;
}

.navigation-item:last-child{
    margin-right: 0;
}

.nav-btn-text{
    font-size: 16px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.main-container{
    flex-grow: 1;
}

.main-index {
    background-color: #FFFFFF;
    background-image: url("../images/icons/index-background.jpg");
    width: 1200px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.welcome{
    width: 458px;
    height: 352px;
    padding: 51px 371px 82px;
    background-repeat: no-repeat;
}

.divider{
    background-repeat: no-repeat;
    margin-top: -57px;
}

.vissualy-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description {
    text-align: center;
}

.description-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 69px 0;
 }

.description h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}


.description-list{
    padding: 0;
    margin: 21px 0;
}

.description-subtitle{
    font-size: 18px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-top: 30px;
}

.description-N1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 385px;
    padding-top: 11px;
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box;

}

.description-N1 .description-title::after{
    margin: 30px auto 0;
    width: 60px;
    height: 2px;
    background-color: rgba(225, 225, 225, 0.3);
    content: "";
    display: block;
}

.description-item{
    display: flex;
    background-color: #82B3D3;
    color: #FFFFFF;
    width: 1200px;
}

.description-top-text {
    font-size: 22px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-top: 25px;
}

.description-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;

}

.description-title::after{
    margin: 30px auto 0;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.30);
    content: "";
    display: block;
}

.description-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0;
    width: 1200px;
}

.description-img{
    display: block;
}

.advantage-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.advantage-top-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    width: 505px;
    margin: 0;
    margin-bottom: 20px;
}

.advantage-top-subtitle{
    margin: 0;
}

.adventage-item{
    background-color: rgba(131, 179, 211, 0.12);
    display: flex;
    width: 400px;
    height: 385px;
}

.item-average{
    background-color: rgba(131, 179, 211, 0.2);
}

.description-N2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 385px;
    padding-top: 11px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 10px;
 }


.advantage-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 64px 0;

}

.advantage-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.advantage-subtitle{
    text-align: center;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
}

.advantage-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantage-item{
    display: flex;
}

.advantage-item-cube{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 385px;
    padding: 183px 85px 0;
}

.advantage-item-home {
    background: url(../images/icons/icon-home.svg) rgba(131, 179, 211, 0.12) 163px 80px no-repeat;

}

.advantage-item-food {
    background: url(../images/icons/icon-food.svg) 165px 78px no-repeat;
    background-repeat: no-repeat;
}

.advantage-item-gift {
    background: url(../images/icons/icon-gift.svg) rgba(131, 179, 211, 0.12) 165px 78px no-repeat;
    background-repeat: no-repeat;
}

.action-title{
    font-size: 30px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.action-header{
    display: flex;
    padding: 96px 304px;
    flex-direction: column;
    align-items: center;
}

.action-header .button:hover{
    background-color: #615048;
}

.action-header .button:focus{
    background-color: #615048;
}

.action-header .button:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.30);
}

.action-header .button:disabled{
    background-color: #E5E5E5;
    color: #ffffff;
}

.action {
    text-align: center;
}
 .action-subtitle {
    color: #000000;
    width: 592px;
    margin: 0;
    margin-bottom: 54px;
 }

 .action .button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #756157;
    border-radius: 4px;
    padding: 8px 50px;
}

.subscription-title{
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
}

.subscription-subtitle{
    color: #fff;
    text-align: center;
    margin: 0 0 55px;
    width: 475px;
}


.subscription {
    color: #FFFFFF;
    background-color: #000000;
    background: url("../images/background-subscribe.jpg") no-repeat;
    background-size: cover;
    padding: 96px 258px 104px 257px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.subscription-form{
    display: flex;
    width: 686px;
    justify-content: space-between;
}


.subscription-input{
    font-size: 18px;
    font-family: PT sans, sans-serif;
    border: none;
    padding: 12px 22px;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    background: #F2F2F2;
}

.subscription .button{
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding: 8px 50px;
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.subscription .button:hover{
    background-color: #68A2CA;
}

.subscription .button:focus{
    background-color: #68A2CA;
}

.subscription .button:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.30);

}

.subscription .button:disabled{
    background-color: #E5E5E5;
    color: #FFFFFF;
}

.subscription-form .buuton{
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.page-footer-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link{
    position: relative;
    width: 47px;
    height: 40px;
    display: block;
}

.footer-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.footer-icon:hover{
    fill: #68A2CA;
}

.footer-icon:active{
    opacity: 0.3;
}

.footer-header{
    display: flex;
    padding: 45px 70px 35px;
    align-items: center;
    justify-content: space-between;
}


.page-footer-number-phone {
    color:#000000;
    text-decoration-line: none;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

.page-footer-number-phone:hover{
    color: #756157;
}

.page-footer-number-phone:focus{
    color: #756157;
}

.page-footer-number-phone:active{
    color: #756157;
    opacity: 0.3;
}

.htmlacademy{
    margin: 0;
}

.html-icon{
    fill: #000;
}

.html-icon:hover{
    fill: #756157;
}

.html-icon:focus{
    fill: #756157;
}

.html-icon:active{
    fill: #756157;
    opacity: 0.3;
}

/* catalog */

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #fff;
    margin: 0;
    margin-bottom: 8px;
}

.filter{
    display: flex;
    flex-direction: column;
    background-image: url(../images/filter-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 35px 69px 71px 70px
}

.inner-header{
    display: flex;
    flex-direction: column;
    width: 1060px;
    margin: 0 auto;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    list-style-type: none;
}

.breadcrumbs-item-link{
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    display: block;
}

.breadcrumbs-home{
    background: url(../images/icons/filter-home.svg) left no-repeat;
    width: 13px;
    height: 12px;
}

.breadcrumbs-arrow{
    background: url(../images/icons/arrow.svg) left no-repeat;
    padding-left: 17px;
    padding-bottom: 1px;
}

.catalog-filter{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.box-filter{
    display: flex;
    margin-right: auto;
}

.catalog-filter-group{
    border: 0;
    margin: 0;
    padding: 0;
}

.catalog-filter-group + .catalog-filter-group{
    margin-left: 72px;
}

.catalog-filter-title{
    font-weight: 700;
    color: #fff;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 0;
}

.catalog-filter-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.control{
    display: flex;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    padding-bottom: 4px;
}

.control-input {
    border: none;
}

.control:hover {
    opacity: 0.6;
}

.control-input:focus {

    outline: 3px solid rgba(131, 179, 211, 1);

}

.control-input:active {
    opacity: 0.3;
}

.control-span{
    padding-left: 16px;
}

.catalog-filter-item{
    margin-bottom: 16px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

.control-input[type="checkbox"] {
    background-color: #fff;
    border-radius: 4px;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.control-input[type="checkbox"]:checked{
    background-image: url(../images/icons/tick.svg);
    background-repeat: no-repeat;
}

.control-input[type="radio"] {
    background-color: #fff;
    border-radius: 50%;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.control-input[type="radio"]:checked {
    background-image: url(../images/icons/tick-radio.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.filter-price-box{
    display: flex;
}

.range{
    margin-bottom: 43px;
}

.range-bar{
    position: absolute;
    height: 4px;
    background-color: #fff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-min{
    top: -8px;
    left: 0;
}

.toggle-max{
    top: -8px;
    right: 0;
}

.range-scale{
    position: relative;
    height: 4px;
    top: 0;
    background-color: rgba(225, 225, 225, 0.30);
    border-radius: 2px;
    left: 1px;
    width: 288px;
}

.range-box-inputs{
    display: flex;
    justify-content: center;
}

.catalog-filter-label{
    position: relative;
    display: flex;
    margin-right: 2px;
}

.product-btn-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 70px;
}


.range-input{
    width: 82px;
    padding: 12px 40px 12px 20px;
    font: inherit;
    text-align: left;
    background-color: #F2F2F2;
    border: none;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
    font-weight: 700;
    line-height: 24px;
    appearance: textfield;
}

.range-input:hover {
    background-color: #E6E6E6;
}

  .range-input:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.input-corner{
    border-radius: 0 4px 4px 0;
}

.catalog-filter-label span{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.3;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 20px 12px 20px;
    color: #333333;
}

.catalog-filter .button{
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-family: PT Sans;
}


.filter-btn-gr{
    padding: 8px 50px;
    margin-bottom: 32px;
    background: #82B3D3;
}

.filter-btn-gr:hover{
    background-color: #68A2CA;
}

.filter-btn-gr:active{
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.30);
}

.filter-btn-gr:disabled{
    background-color: #E5E5E5;
    color: #fff;
}

.select-hotels{
    padding-bottom: 60px;
}

.select-hotels-box{
    display: flex;
    align-items: center;
    padding: 50px 70px 40px 70px;
}

.filter-btn{
    background: none;
    padding: 8px 50px;
}

.filter-btn:hover{
    opacity: 0.6;
}

.filter-btn:focus{
    outline: 3px solid #83B3D3;
}

.filter-btn:active{
    color: rgba(255, 255, 255, 0.30);
}

.filter-btn:disabled{
    opacity: 0.1;
}

.hotel-filters-subtitle{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-right: auto;
    text-transform: uppercase;
}

.select-control{
    width: 291px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    padding: 12px 99px 12px 20px;
    font-family: PT Sans;
    appearance: none;
    background-image: url(../images/icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.select-control:hover {
    border: 2px solid #68A2CA;
}

.select-control:focus {
    outline: 2px solid #68A2CA;
    border-color: transparent;
}

.select-control-btn-box{
    display: flex;
    gap: 8px;
    margin-left: 71px;
}

.select-control-btn-box .button:hover{
    border: 2px solid #000;
}

.select-control-btn-box .button:focus{
    border: none;
    outline: 2px solid #68A2CA;
}

.select-hotels-box .button{
    display: block;
    width: 44px;
    height: 44px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.button-table{
    background: url(../images/table.svg)center no-repeat;
}

.button-cards{
    background: url(../images/cards.svg)center no-repeat;
}

.button-list{
    background: url(../images/list.svg) center no-repeat;
}

.product-list{
    padding: 0 70px 40px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
}

.product-card-link{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    grid-column: 2 span;
}

.product-card{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    list-style: none;
    padding: 19px;
    gap: 16px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.product-card .button:hover {
    background-color: #68A2CA;
  }

.product-card .button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.30);
}

.product-card .button:disabled {
    background-color: #E5E5E5;
    color: #fff;
}

.product-card-img{
    display: block;
    object-fit: contain;
    grid-column: 2 span;
    margin-bottom: 17px;
}

.product-card-title{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.product-card-type{
    font-size: 18px;
    line-height: 21px;
}

.product-card-price{
    justify-self: end;
    font-size: 18px;
    line-height: 21px;
}

.button-detailed{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #756157;
    border-radius: 4px;
    padding: 8px 26px;
}

.button-detailed:hover{
    background-color: #615048;
}

.button-detailed:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.30);
}

.button-detailed:disabled{
    background-color: #E5E5E5;
    color: #FFFFFF;
}

.product-card .button{
    font-size: 16px;
    line-height: 20px;
    background: #82B3D3;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.button-select{
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 8px 18px;
}

.button-current{
    background: #7DB54F;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-current:hover{
    background-color: #6C9E42;
}

.button-current:active{
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.30)
}

.button-current:disabled{
    background-color: #E5E5E5;
    color: #fff;
}

.stars{
    background-image: url(../images/icons/star.svg);
    background-repeat: space no-repeat;
    height: 17px;
    margin: 0;
    align-self: center;
}

.star-4{
    width: 89px;
}

.star-3{
    width: 66px;
}

.star-2{
    width: 42px;
}

.rating{
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    border-radius: 4px;
    padding: 8px 22px;
    background: #F2F2F2;
    text-transform: uppercase;
    align-self: center;
}

.pagination{
    display: flex;
    margin: 0;
    gap: 8px;
    padding: 0 70px;
    list-style-type: none;
}


.pagination-item{
    display: flex;
}

.pagination-link{
    background: #82B3D3;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    padding: 11px 24px;
}

.pagination-link:not(.pagination-link-current):hover{

    background: #68A2CA;
}

  .pagination-link:not(.pagination-link-current):focus{

    background: #68A2CA;
 }

.pagination-link:not(.pagination-link-current):active{
    color: rgba(255, 255, 255, 0.30);
    background: #68A2CA;
}

.points{
    text-decoration: none;
    padding: 16px 22px;
    color: #000;
}

.padding-last{
    padding: 11px 18px 12px 18px;
}

.pagination-link-current{
    color: #000000;
    background-color: #F2F2F2;
}

.sub-bg-hidden{
    background: none;

}

.sub-bg-hidden .subscription-title{
    color: #000;
    text-align: center;
}

.sub-bg-hidden .subscription-subtitle{
    color: #333333;
}


/* modal container */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.80);
}

.modal-container{
    display: none;
}

.modal{
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow:0 25px 50px 0 rgba(0, 0, 0, 0.15);;
}

.modal-auth{
    box-sizing: border-box;
    width: 717px;
}

.modal-content{

    position: relative;
}

.modal-title{
    margin: 0;
    margin-bottom: 64px;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.modal-close-button{
    position: absolute;
    padding: 0;
    top: 59px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border-radius: 100%;
    border: none;
    background-image: url(../images/icons/close-modal.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1;
}

.modal-close-button:hover{
    background-color: #E6E6E6;
}

.modal-close-button:focus{
    background-color: #E6E6E6;
    outline: 1px solid #83B3D3;
}

.modal-close-button:active{
    background-color: #E6E6E6;
    opacity: 0.3;
    outline: none;
}

.modal-form{
    display: grid;
    grid-template-columns: 137px 110px 88px 132px 110px;
    grid-template-rows: repeat(5, min-content);
    margin: auto;
}

.modal-date-label{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 1 / -1;
}

.modal-label-span{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    margin-right: auto;
}

.modal-date{
    color: #000;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 368px;
    padding: 12px 40px 12px 20px;
    background-color: #F2F2F2;
    position: relative;
    border-radius: 4px;
    border: 3px solid transparent;
}

.modal-date:hover{
    background-color: #E6E6E6;
}

.modal-date:focus{
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-date:active{
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.input-calendar{
    content: "";
    position: absolute;
    right: 20px;
    top: 18px;
    bottom: 0;
    width: 20px;
    opacity: 0.3;
}

.date-state{
    width: 100%;
    text-align: left;
    padding-left: 156px;
    color: #FF5757;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 23px;
}

.last-day{
    width: 331px;
    text-align: left;
    padding-left: 156px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 23px;
}

.modal-adult-label-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 2;

}

.people-number-field{
    border: none;
    width: 34px;
    padding: 15px 35px 15px 35px;
    line-height: 20px;
    background: #F2F2F2;
    color: #000;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
}

.people-number-field::-webkit-inner-spin-button,
.people-number-field::-webkit-outer-spin-button{
    -webkit-appearance: none;
}


.people-number-field[type="number"]{
    text-align: center;

}

.modal-box{
    display: flex;
    position: relative;
    align-items: center;
}

.math-mark{
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 0;
}

.modal-minus{
    display: block;
    width: 20px;
    height: 20px;
    align-self: center;
    left: 10px;
    position: absolute;
    fill: #756157;
}

.modal-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #756157;
    opacity: 0.3;
}


.modal-plus{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
}

.modal-kids-label-text{
    grid-column: 4 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info-btn{
    background-color: #83B3D3;
    padding: 0;
    margin: 0;
    margin-right: 46px;
    margin-left: 10px;
    display: block;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 100%;
}

.info-btn:hover + .info-text,
.info-btn:focus+ .info-text{
    display: block;
}

.info-icon{
    width: 100%;
    color: #242424;
    display: block;
}

.info-text{
    background-color: #242424;
    padding: 15px 0 18px 22px;
    border-radius: 8px;
    width: 256px;
    position: absolute;
    margin-bottom: 6px;
    right: 6%;
    z-index: 1;
    display: none;
    color: #FFF;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.modal-button{
    grid-column: 1 / -1;
    padding: 18px 77px;
    border-radius: 10px;
    background: #83B3D3;
    border: none;
    text-align: center;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 48px;
    text-transform: uppercase;
}

.modal-button:hover {
    background-color: #68A2CA;
}

.modal-button:focus{
    background-color: #68A2CA;
}

.modal-button:active{
    background-color: #68A2CA;
    opacity: 0.5;
}
